<!-- Footer -->
<footer class="sticky-footer bg-white shadow-sm">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <% const year = new Date().getFullYear() %> 
            <span>Copyright &copy; TEK SENG HOLDINGS BERHAD </span><span ><%= year  %> </span>
        </div>
    </div>
</footer>
<!-- End of Footer -->


